# Environment configuration
API_KEYS=
JWT_SECRET=jwt-secret
ADMIN_JWT_SECRET=admin-jwt-secret
API_TOKEN_SALT=api-token-salt
TRANSFER_TOKEN_SALT=transfer-token-salt

# Server configuration
HOST=strapi-server-host
PORT=strapi-server-port
URL=http://strapi-server-host:strapi-server-port
# Admin configuration
ADMIN_URL=http://strapi-server-host/admin
ADMIN_HOST=strapi-server-host

# Database configuration
DATABASE_CLIENT=database-client
DATABASE_NAME=strapi-database-name
DATABASE_HOST=database-host
DATABASE_PORT=database-port
DATABASE_USERNAME=database-username
DATABASE_PASSWORD=database-password
DATABASE_SSL=false
DATABASE_SSL_KEY=path/to/ssl/key
DATABASE_SSL_CERT=path/to/ssl/cert

# Email configuration
EMAIL_PROVIDER=nodemailer
EMAIL_HOST=mail.privateemail.com
EMAIL_PORT=587
EMAIL_FROM=mail@auraglowups.com
EMAIL_REPLY_TO=mail@auraglowups.com
EMAIL_PASSWORD=your-email-password

# Whatsapp

WHATS_ACCESS_TOKEN=whatsapp-access-token
SEND_NUMBER=whatsapp-send-number
WHATS_URL=https://app.xpressbot.org/api/v1/whatsapp/send/template
